<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
    <!-- Add environment variables section -->
    <aspNetCore>
      <environmentVariables>
        <environmentVariable name="VITE_API_BASE_URL" value="https://api.createathon.co" />
        <environmentVariable name="VITE_NEWSLETTER_SUBSCRIBE_ENDPOINT" value="/newsletter/subscribe" />
        <environmentVariable name="VITE_NEWSLETTER_UNSUBSCRIBE_ENDPOINT" value="/newsletter/unsubscribe" />
        <environmentVariable name="VITE_EMAIL_ENDPOINT" value="/v0/api/mail/send-email" />
        <environmentVariable name="VITE_RECAPTCHA_SITE_KEY" value="6LcdGRgrAAAAAIU-zzCAQN2GrwPnqS6mrVtjUb6v" />
        <environmentVariable name="VITE_RECAPTCHA_SECRET_KEY" value="6LcdGRgrAAAAACrE4X0QWkAWCKr2dI70Lka_KiYk" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration> 