<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enhanced compression settings -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    
    <httpCompression
      directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files"
      minFileSizeForComp="1024"
      noCompressionForRange="false"
      noCompressionForHttp10="false"
      noCompressionForProxies="false">
      <scheme name="br" dll="%Windir%\system32\inetsrv\compbr.dll" staticCompressionLevel="11" dynamicCompressionLevel="8" />
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="8" />
      <scheme name="deflate" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="8" />
      
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/javascript; charset=utf-8" enabled="true" />
        <add mimeType="application/javascript; charset=UTF-8" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
        <add mimeType="application/json; charset=UTF-8" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/atom+xml; charset=utf-8" enabled="true" />
        <add mimeType="application/rss+xml" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="application/font-woff" enabled="true" />
        <add mimeType="application/font-woff2" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/javascript; charset=utf-8" enabled="true" />
        <add mimeType="application/javascript; charset=UTF-8" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
        <add mimeType="application/json; charset=UTF-8" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/atom+xml; charset=utf-8" enabled="true" />
        <add mimeType="application/rss+xml" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".js" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
    
    <!-- Add environment variables section -->
    <aspNetCore>
      <environmentVariables>
        <environmentVariable name="VITE_API_BASE_URL" value="https://api.createathon.co" />
        <environmentVariable name="VITE_NEWSLETTER_SUBSCRIBE_ENDPOINT" value="/newsletter/subscribe" />
        <environmentVariable name="VITE_NEWSLETTER_UNSUBSCRIBE_ENDPOINT" value="/newsletter/unsubscribe" />
        <environmentVariable name="VITE_EMAIL_ENDPOINT" value="/v0/api/mail/send-email" />
        <environmentVariable name="VITE_RECAPTCHA_SITE_KEY" value="6LcdGRgrAAAAAIU-zzCAQN2GrwPnqS6mrVtjUb6v" />
        <environmentVariable name="VITE_RECAPTCHA_SECRET_KEY" value="6LcdGRgrAAAAACrE4X0QWkAWCKr2dI70Lka_KiYk" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>